* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.woff);
}

@font-face{
    font-family: "tommy";
    src: url(../fonts/MADETOMMY.woff);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

footer {
    background-color: #9cd8e2;
}

nav {
    background-color: #9cd8e2;
}

.subtitle {
    text-align: center;
    font-family: "tommy";
    font-size: 50px;
}

a:link {
    text-decoration: none;
    outline: none;
}

nav li {
    margin: 0px 5px;
}

.fas, .fab {
    font-size: 100px;
}

.fas:hover, .fab:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.txt_servicos {
    text-align: justify;
}

div.row {
    margin: 50px 0px;
}

.title_servicos {
    text-align: center;
    margin: 20px 0px;
    font-family: "roboto";
}